/* Font Family*/

// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,900');


$font-one: 'Raleway';
$font-two: 'Didot';
 
 /* Media Queries*/

  
$lg: (

  media: "(min-width: 768px)", 
  
);

 

/* other*/
 
 /*Shadows*/

 $color-one:rgba(0, 0, 0, 1 );
 $color-one-dark:rgba(0, 0, 0, 1 );
 $color-one-clear:rgba(0, 0, 0, 1 );
 
 /*highlights*/
 
 $color-two:rgba(255, 255, 255, 1);
 $color-two-dark:rgba(130, 130, 130, 1);
 $color-two-clear:rgba(218, 217, 217, 1);
 
  /*Midtones*/
 
 $color-three:rgba(99, 110, 114,1.0);
 $color-three-dark:rgba(178, 190, 195,1.0);
 $color-three-clear:rgba(223, 230, 233,1.0);
 
 
 
 /*Other colors*/
 $color-four:rgba(208,183,168 ,1.0);
 $color-four-dark:rgba(166,146,134 ,1.0);
 $color-four-clear:rgba(226,211,202 ,1.0);
 
  /*Other colors*/
 $color-five:rgba(85, 239, 196,1.0);
 $color-six:rgba(253, 121, 168,1.0);
 $color-seven:rgba(162, 155, 254,1.0);
 
 
 
/*  ------------------------------------------*/
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body { 
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
    font-size: 1em;
    overflow-x: hidden;

} 


/*-----------------------------------------------------*/

html,
body { 
    overflow-x: hidden;
    padding: 0;
    height:auto; 
    font-weight: 400;
    line-height: 1.30;
    color: #000; 
    font-family:$font-one;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    list-style-type: none;
    list-style: none;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none; 
    cursor: pointer;

}

p {
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

h1,
h2,
h3,
h4 { 
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    
    font-family:$font-two;
}

h1 { 
    font-weight: 700;
    margin-top: 0;
    font-size: 2em;
    

}

h2 {
    font-weight: 400;
    font-size: 1.8em;
    font-family:$font-one;
}

h3 {

    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

small,
.font_small {
    font-size: 0.707em;
}

button {
    background: transparent;
    border: none;
}
