<footer>
      <section class="footer-links">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem assumenda minus ratione doloremque numquam. Aspernatur rerum maxime, reiciendis eos, ab aut aliquid dolorum cumque libero consequatur, nulla deserunt distinctio porro.
      </section>
      <hr></hr>
  
      <section class="footer-subline">
          Copryright 2018
          
      </section>
</footer>
