

<header class="top-header"> 
    
    
    <%= link_to root_path do %>
      <i class="header-logo"></i>
    <% end %>
    
     
    <div class="menu-toggle">
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
    </div>
    
    <nav class="mega-menu">
        <ul class="header-menu" >
            <li>
                <a class="menu-item">Estética y Belleza</a>
                <ul class="dropdown-menu">
                    
                    <div class="dropdown-list">
                        
                        <ul>
                             
                            <h3>Depilación</h3>
                            <li>Depilación eléctrica</li>
                            <li>Fotodepilación</li>

                        </ul>
                        <ul> 
                            <h3>Manos y Pies</h3>
                             <li>Manicura y pedicura</li>
                             <li>Uñas de gel</li>
                             <li>Limado y pintura</li> 
                        </ul>
                         <ul> 
                            <h3>Ojos y pestañas</h3>
                            <li>Lifting de pestañas </li>
                            <li>Tinte de cejas / pestañas</li>
                            <li>Diseño y depilación de cejas</li>
                            <li>Extensión y relleno de pestañas</li>
                        </ul>
                         <ul> 
                            <h3>Maquillaje</h3>
                            <li>Maquillaje de evento </li>
                            <li>Novio / Novia</li>
                            <li>Premamá</li>
                            <li>Fantasía / FX / Caracetrización</li>
                            <li>BodyPaint</li> 
                        </ul>
                    </div>
                   
                </ul>
            </li>
            <li>
               <a class="menu-item">Tratamientos Avanzados</a>
                <ul class="dropdown-menu">
                    
                        <div class="dropdown-list">
                            <ul> 
                                <h3>Tratamientos faciales</h3>
                                <li>Higiene Detox</li>
                                <li>Anti Acné y seborregulador</li>
                                <li>Pure Vitamin C</li>
                                <li>Peeling ácidos</li>
                                <li>Programme Cellulaire Anti-âge </li>
                                <li>Remodelación de óvalo </li>
                                <li>Derma Pen</li>
                                <li>Absolue Revivre</li>
                                <li>Purificant</li>
                                <li>Caprices d'Or</li>
                            </ul>
                            <ul> 
                                <h3>Tratamientos corporales</h3>
                                <li>Reductor - Celulitis - Flacidez</li>
                                <li>Piernas cansadas</li>
                                <li>Tratamiento CaviSM</li>
                                <li>Masaje relax</li>
                                <li>Ritual piel de seda</li>
                                <li>Drenaje linfático manual</li>
                                <li>Masaje circulatorio</li>
                                <li>Envoltura de algas</li>
                                <li>Chocolaterapia</li>
                            </ul>

                        </div>
                    
                </ul>
            
            </li>
            <li>
                <a class="menu-item">Nuestros Productos</a>
                <ul class="dropdown-menu">
                    
                        <div class="dropdown-list">
                            <ul> 
                                <h3>Selvert Thermal</h3>
                                <li>Higiene Detox</li>
                                <li>Anti Acné y seborregulador</li>
                                <li>Pure Vitamin C</li>
                                <li>Peeling ácidos</li>
                                <li>Programme Cellulaire Anti-âge </li>

                            </ul>
                            <ul> 
                                <h3>Casmara</h3>
                                <li>Reductor - Celulitis - Flacidez</li>
                                <li>Piernas cansadas</li>
                                <li>Tratamiento CaviSM</li>
                                <li>Masaje relax</li>
                                <li>Ritual piel de seda</li>

                            </ul>
                           

                        </div>
                    
                </ul>
            </li>
            <li>
               <a class="menu-item">Ofertas exclusivas</a>
                 <ul class="dropdown-menu">
                    
                        <div class="dropdown-list">
                            <ul> 
                                <h3>Tarjeta regalo</h3> 

                            </ul>
                            <ul> 
                                <h3>Operación Bikini</h3>
                               

                            </ul>
                           

                        </div>
                    
                </ul>
                
            </li>
            
        </ul>
        
    </nav>
</header>


 
 