     <div class="hero">
       
           <video  class="hero-video"   autoplay loop muted poster="https://s3.eu-west-3.amazonaws.com/armina/hero.jpg"  data-playing="true" data-loop="true" data-muted="false" data-controls="true">
    	<source src="https://s3.eu-west-3.amazonaws.com/armina/hero-background-armina.mp4" type="video/mp4">
	    </video>
  	    
    </div>
 
 
 <div class="about"> 
   
      <img class="avatar"></img>

     <article> 
      <h1>Sobre nosotros</h1>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
    </article>
  </div>
  
  
  
  
   
 <div class="services"> 

     <article> 
      <h1>Nuestros servicios</h1>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
    </article>
  </div>
  
   <div class="contact"> 

     <article> 
      <h1>Contacta directamente</h1>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellendus, pariatur explicabo nulla soluta, mollitia id, voluptatibus autem aut nemo ad recusandae perferendis velit, nam minus iusto error dignissimos possimus.
    </article>
  </div>
  