$hero-bg: url('https://s3.eu-west-3.amazonaws.com/armina/hero.jpg');
$about-bg: url('https://s3.eu-west-3.amazonaws.com/armina/servicios/armina-products-63.jpg');
$service2-bg: url('https://s3.eu-west-3.amazonaws.com/armina/servicios/armina-products-54.jpg');
$service-bg: url('https://s3.eu-west-3.amazonaws.com/armina/servicios/armina-products-56.jpg');
$contact-bg: url('https://s3.eu-west-3.amazonaws.com/armina/servicios/armina-products-53.jpg');
$footer-bg: url('https://s3.eu-west-3.amazonaws.com/armina/servicios/armina-products-61.jpg');


$grid-about: ( columns: 2,
gutter: 5rem,

);


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: $top-header-hg;
  @include grid-media ($lg) {
    margin-top: $top-header-hg-lg + 55px;

  }


}

.hero {
  overflow: hidden;
  width: 100%;
  height: 600px;
  max-height: 600px;
  @include padding(0% 0em 0% 0em);
  background: $hero-bg;
  background-size: cover;
  video {
    @include center;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: $top-header-hg-lg;
    display: none;
    @include grid-media ($lg) {
      display: block;
    }
  }
}

.about,
.services,
.contact {
 @include padding(5% 0em 5% 0em);
  width: 100%;
   min-height:50vh;
  article {
    @include wrap;
    max-width: 960px;
    margin: 0 auto;
  }
}

.about {
  background: $color-two; 
  .avatar {
    
    width: 300px;
    height: 300px;
    background: $about-bg 45% 10% no-repeat;
    background-size: 250%;
    border-radius: 50%;
    position: absolute; 
    float:right;
   } 
   article{
     float:left;
     max-width:500px; 
     position: relative; 
   }
}


.services {
  
  background: $service-bg center center no-repeat;
  background-size: 100%;
}

.contact {
  background: $contact-bg center center no-repeat;
  background-size:cover;
  

}
