
footer {
    background: $color-three-dark;
    color: $color-two; 
    text-align: center;
    left: 0;
    bottom: 0;
    
    width: 100%;
    section {
        
        //@include wrap;
        @include padding(5px 0em 5px 0em);
        
    }
    hr{
        height:1px;
        border-bottom:0;
    }
    .footer-links{
        @include padding(5% 0em 5% 0em);
        display: inline-block;
    }
     .footer-subline{
        
        border-width:100%;
        @include padding(1% 0em 1% 0em);
    }
}
