/*colors*/

$top-header-bg:$color-two;
$mega-menu-bg:$color-two;

/*Sizes*/

$top-header-hg:100px;
$top-header-hg-lg:100px;

/*Urls*/

$logo-vertical: url('icons/brand/logo-vertical.svg');
$logo-horizontal: url('icons/brand/logo-horizontal.svg');
/*----------------------------------------------------------*/

$icon-facebook: url('icons/social/icon-facebook.svg');
$icon-twitter: url('icons/social/icon-twitter.svg');
$icon-instagram: url('icons/social/icon-instagram.svg');
$icon-pinterest: url('icons/social/icon-pinterest.svg');

/*----------------------------------------------------------*/

$grid-dropdown: ( columns: 2,
gutter: 5rem,

);

.top-header {
    @include size (100%,
    $top-header-hg);
    position: absolute;
    top: 0;
    z-index: 9999999;
    background: $top-header-bg;
    @include grid-media ($lg) {
        height: $top-header-hg-lg;
        @include center;
    }


    /*--------------------Branding---------------------------*/
    .header-logo {
        @include size (140px,
        100px);
        position: absolute;
        background: $logo-horizontal no-repeat center center;
        background-size: 100%;
        @include margin (0 0 0 10%);
        @include grid-media ($lg) {
            @include size (130px,
            100px);
            @include center;
            background: $logo-vertical no-repeat center center;
        }
    }

    /*----------------------Navicon----------------------------*/
    .menu-toggle {
        @include hide-visually("unhide");
        float: right;


        @include grid-media ($lg) {
            @include hide-visually;
        }
        .menu-btn {
            @include hide-visually;
            &:checked~.menu-icon:not(.steps) .navicon {
                &:before,
                &:after {
                    top: 0;
                }
            }

            &:checked~.menu-icon .navicon {
                background: transparent;
                &:before {
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:after {
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

        }
        .menu-icon {
            margin-right: 30px;
            margin-top: 50px;
            cursor: pointer;
            display: inline-block;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .navicon {
                @include size (1.5em,
                2px);
                background: #000;
                display: block;
                position: relative;
                z-index: 999999999;
                &:before,
                &:after {
                    @include size (100%,
                    100%);
                    background: #000;
                    content: '';
                    display: block;
                    position: absolute;
                }
                &:before {
                    top: 5px;
                }
                &:after {
                    top: -5px;
                }
            }
        }
    }


    /*--------------------Megamenu---------------------------*/
    .mega-menu {
        position: absolute;
        @include center;
        background: $mega-menu-bg;
        top: $top-header-hg;
        display: none;
        @include grid-container;

        @include grid-media ($lg) {
            display: block;
            @include size (100%,
            auto);
            background: $mega-menu-bg;
            top: $top-header-hg-lg;
            border-top: 1px solid $color-three-clear;
            border-bottom: 1px solid $color-three-clear;
        }


        .header-menu {
            text-align: center;
            >li {

                min-height: 50px;
                line-height: 50px;
                border-top: 1px solid $color-three-clear;
                display: block;
                letter-spacing: 1px;
                background: $color-three-dark;

                @include grid-media ($lg) {
                    min-height: 20px;
                    line-height: 20px;
                    background: transparent;
                    border: none;
                    @include padding(15px 1em 15px 1em);
                    display: inline-block;
                    &:after {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 5px;
                        top: 5px;
                        border-radius: 50%;
                        position: relative;
                        background: $color-one;
                        @include center;
                        will-change: transform;
                        transform: scale(0);
                        transition: transform 0.2s ease;

                    }
                    &:hover:after {
                        transform: scale(1);

                    } 
                    &:hover {
                        .dropdown-menu {
                            opacity: 1;
                            visibility: visible;
                             display: block;
                        }
                    }
                }

                .menu-item {
                    color: $color-two;
                    font-weight: 500;
                    @include grid-media ($lg) {
                        font-weight: 400;
                        color: $color-one;
                    }

                }

                .dropdown-menu {

                    display: none;
                    @include grid-media ($lg) {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                    }   
                    text-transform: none;
                    background: $color-three-clear;
                    left: 0;
                    right: 0;
                    top: 55px;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;



                    .dropdown-list {
                        @include grid-media ($lg) {
                            @include wrap;
                            @include grid-container;
                            @include padding(2em);
                        }

                        ul {

                            @include grid-media ($lg) {
                                @include grid-column(1,
                                $grid-dropdown);
                                text-align: left;
                                h3 {
                                    font-size: 1.8em;
                                }

                            }


                            >h3,
                            li {
                                line-height: 30px;
                                @include grid-media($lg) {
                                    @include margin(0.5em 0em 0.5em 0em);
                                    padding: 0;
                                }



                            }

                            li {
                                display: block;

                            }

                        }
                    }

                }


            }
        }
    }

}

 