@mixin center {
    @include margin(auto auto);
    left: 0;
    right: 0;
}

@mixin wrap {
    //background: $color-five;
    //@include grid-visual();
    @include grid-media ($lg) {
        max-width: 960px;
        @include center;
    }
}
